body {
    font-family: Helvetica, Verdana;
    background-color: #d2d2d2;
}

a {
    color: white;
    text-decoration: none;
}
.logo{
    margin: auto;
    width: 10vw;
    height: 10vw;
}

#header {
    float: left;
    height: 100%;
    width: 20%;
    background-color: #4EAD7B;
    position: fixed;
}

#menu {
    font-size: 2vw;
    padding: 40px;
}

#pagecontent {
    background-color: darkgray;
    width: 80%;
    text-align: center;
    float: right;
}

#banner {
    height: 400px;
}

#intro {
    height: 400px;
    background-color: white;
}

#stats {
    height: 400px
}

