html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Verdana;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #9ED36A;
}

.current {
    color: dimgrey;
}

.current:hover {
    color: white;
}

.currentgreen {
    color: dimgrey;
}

.currentgreen:hover {
    color: #9ED36A;
}

.logo {
    padding: 20px;
    display: block;
    margin: auto;
    width: 10vw;
    height: 10vw;
}

.logo:hover {
    opacity: 70%;
}

.content-table {
    border-collapse: collapse;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9em;
    width: 60vw;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.content-table thead tr {
    background-color: #4EAD7B;
    color: white;
    text-align: left;
    font-weight: bold;

}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    background-color: rgba(0, 0, 0, 0.5);
    height: 50px;
}

.content-table tbody tr:nth-of-type(even) {
    border-radius: 5px 5px 5px 5px;
}

.content-table tbody tr:last-of-type {
    border-bottom: 3px  solid #4EAD7B;
}

.button {
    clear: both;
}

#formleft {
    float: left;
    align-content: center;
    margin-left: 25vw;
}

#formright {
    float: right;
    align-content: center;
    margin-right: 25vw;
}

#header {
    margin: 0;
    float: left;
    height: 100%;
    width: 20vw;
    background-color: #4EAD7B;
    position: fixed;
}

#menu {
    font-size: 2vw;
    padding: 40px;
}

ul li {
    color: #9ED36A;
}

#pagecontent {

    width: 80vw;
    float: right;
}

.button {

}

#login {
    top: 0;
    right: 0;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    border: 3px solid #9ED36A;
    width: 7%;
    position: fixed;
    text-align: center;
    font-size: 1.5vw;
    margin: 20px;
}

#login:hover {
    background-color: #9ED36A;
}

#banner {
    background-color: white;
    text-align: center;
    font-size: 250%;
    color: #9ED36A;
    padding: 50px;

}

#fields {
    color: dimgray;
    text-align: center;
    background-color: #F7F7F7;
    margin-left: auto;
    margin-right: auto;
    padding: 100px
}

#intro {
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 100px
}

#stats {
    background-color: white;
    font-size: 3.5vh;
    color: #9ED36A;
    padding: 50px;
    width: 100%;
    text-align: center;
}

#members {
    float: left;
    width: 30vw;
}

#ad {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}

#foodsaved {
    float: right;
    width: 30vw;
}

.footer {
    color: dimgrey;
    padding: 50px;
    background-color: #F7F7F7;
    width: 100%;
    text-align: center;
}

#leftfoot {
    float: left;
    width: 20vw;
}

#centerfoot {
    text-align: left;
    display: inline-block;
    margin: 0 auto;
    width: 20vw;
    padding-left: 5vw;
    padding-right: 5vw;
}

#rightfoot {
    float: right;
    width: 20vw;
}

#fail {
    color: dimgrey;
    background-color: #F7F7F7;
    margin-left: auto;
    margin-right: auto;
    padding: 100px;
    align-content: center;
}

.parallax {
    /* The image used */
    background-image: url("images/food.jpg");

    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


