<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Stop Madspild</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="images/leaf.png">
</head>
<body class="parallax">

<header id="header">
    <a href="/">
        <img src="/images/leaf.png" width="100" height="100" class="logo">
    </a>
    <ul id="menu">
        <li><a href="/map">Kort</a></li>
        <p></p>
        <li><a href="/list">Annoncer</a></li>
        <p></p>
        <li><a href="/signUp">Opret Annonce</a></li>
    </ul>
</header>
<div id="pagecontent">
    <div id="login">
        <a href="/logIn" class="current"> LOG IN </a>
    </div>
    <div id="banner">
        <h1><b> STOP MADSPILD </b></h1>
    </div>
    <div id="intro">
        <h1>VI STOPPER MADSPILD</h1>
        <p>Alene i Danmark smider vi hvert år over 700.000 ton mad ud, som kunne være spist. Madspildet koster danske
            forbrugere mere end 11 milliarder kroner årligt. Husholdningernes madspild udgør 260.000 ton pr. år mens
            fødevareindustrien står for et årligt madspild på 133.000 ton.
        </p>
        <p>Madspild er derfor et stort problem, som ikke alene koster forbrugerne en masse penge, men som også tærer på
            vores ressourcer og vores miljø. Over en tredjedel af klimabelastningen fra fødevareproduktionen er
            forårsaget af madspild – og kunne således være undgået, alternativt anvendt til globale befolkningsgrupper,
            der ikke får tilstrækkeligt med nærende mad.
        </p>
        <p>Hos findditmadspild.dk er det gjort nemt at tilbyde andre den mad man ikke selv har mulighed for at spise. Om
            du har købt alt for meget mad eller om du ikke har nogen penge, Så er denne hjemmeside perfekt til dig. Vi har tusindvis a aktive brugere og et hav af daglige madspildsannoncer.
            Hjælp med at stoppe madspild og kom i gang!

        </p>
    </div>
    <div id="stats">
        <div id="members">
            <h1>4</h1>
            Aktive brugere
        </div>
        <div id="ad">
            <h1 th:text="${activeAds}"/>
            Aktive annocer
        </div>
        <div id="foodsaved">
            <h1 th:text="${totalAds}"/>
            Annocer totalt
        </div>
    </div>
    <footer class="footer">
        <div id="leftfoot">
            <a href="/">
                <img src="/images/leaf.png" width="50" height="50">
            </a><br>
            <br>
            <i>Copyright &copy 2020 Gruppe 2</i>
        </div>
        <div id="centerfoot">
            <b>Sitemap</b>
            <br>
            <a href="/map" class="currentgreen">Kort</a>
            <br>
            <a href="/list" class="currentgreen">Annoncer</a>
            <br>
            <a href="/signUp" class="currentgreen">Opret Annonce</a>
        </div>
        <div id="rightfoot">
            Social
            <div class="social-btns">
                <a class="btn facebook" href="/error"><i class="fa fa-facebook"></i>
                    <img src="/images/social.png" height="70"></a>
            </div>
        </div>
    </footer>
</div>

</body>
</html>