<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
<header id="header">
    <img src="/images/leaf.png" width="100" height="100" class="logo">
    <ul id="menu">
        <li> <a href="">List</a></li>
        <li> <a href="">Kort</a></li>
        <li> <a href="">Mine anonncer</a></li>
        <li> <a href="">Sign up</a></li>
    </ul>
</header>
<div id="pagecontent">
    <a href=""> LOG IN</a>

    <div id="banner">
        (BANNER)
    </div>
    <div id="intro">
        (INTRODUCTION)
    </div>
    <div id="stats">
        (STATISTICS)
    </div>

</div>

</body>
</html>