<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
<header id="header">
    <img src="/images/leaf.png" width="100" height="100" class="logo">
    <ul id="menu">
        <li> <a href="">List</a></li>
        <p></p>
        <li> <a href="">Kort</a></li>
        <p></p>
        <li> <a href="">Mine anonncer</a></li>
        <p></p>
        <li> <a href="">Sign up</a></li>
    </ul>
</header>
<div id="pagecontent">
    <div id="login">
        <a href="" class="current" > LOG IN </a>
    </div>
    <div id="banner">
        <h1><b> STOP MADSPILD </b></h1>
    </div>
    <div id="intro">
        <h1>VI STOPPER MADSPILD</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>
    <div id="stats">
        (STATISTICS)
    </div>

</div>

</body>
</html>