<meta charset="UTF-8">
<title>Title</title>
<link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
<header id="header">
    <img src="/images/leaf.png" width="100" height="100" class="logo">
    <ul id="menu">
        <li> <a href="/list">List</a></li>
        <p></p>
        <li> <a href="/map">Kort</a></li>
        <p></p>
        <li> <a href="/myAds">Mine anonncer</a></li>
        <p></p>
        <li> <a href="/signUp">Sign up</a></li>
    </ul>
</header>
<div id="pagecontent">
    <div id="login">
        <a href="/logIn" class="current" > LOG IN </a>
    </div>
    <div id="banner">
        <h1><b> Mine anonncer </b></h1>
    </div>
    <div id="intro">
        <h1>Mine anonncer</h1>
        <p>bla blab al
        </p>
    </div>
    <div id="stats">
        (STATISTICS)
    </div>

</div>

</body>
</html>